<div class="container" style="margin-top: 30px">
  <div class="row">
    <div class="col-sm-3" style="position: fixed">
      <ul class="nav nav-pills flex-column" style="margin-left: 0%">
        <h1 class="categ" style="color: rgb(247, 238, 223)">CATEGORIES</h1>
        <li class="nav-item">
          <button
            class="custom-but"
            (click)="onClickCategory('fruits')"
            mat-button
          >
            Fruits
          </button>
        </li>

        <li class="nav-item">
          <button
            class="custom-but"
            (click)="onClickCategory('meat')"
            mat-button
          >
            Meat
          </button>
        </li>
        <li class="nav-item">
          <button
            class="custom-but"
            (click)="onClickCategory('drinks')"
            mat-button
          >
            Drinks
          </button>
        </li>
        <li class="nav-item">
          <button
            class="custom-but"
            (click)="onClickCategory('vegetables')"
            mat-button
          >
            Vegetables
          </button>
        </li>
      </ul>
      <hr class="d-sm-none" />
    </div>
    <hr />

    <div class="col-sm-8" style="margin-bottom: 100px">
      <br />

      <div style="display: flex; flex-wrap: wrap">
        <app-card
          style="max-width: 50%"
          *ngFor="let card of cardsCategory"
          [cardsInformation]="card"
        ></app-card>
      </div>
    </div>
  </div>
</div>
